<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SystemBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/eip/wave/SystemService" binding="basicHttpBinding"
                bindingConfiguration="SystemBinding" contract="SystemPort"
                name="SystemPort" />
        </client>
    </system.serviceModel>
</configuration>